<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

        * {
            box-sizing: border-box;
            font-family: 'Poppins';
        }

        body {

            background: #43AFFC;
        }

        .heading {
            background-color: brown;
            text-align: center;
            
        }
        

        .inputData {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        input {
            margin: 5px;
        }

        .inputfield {
            width: 40vw;
            padding: 10px;
            /* display: flex; */
            text-align: center;
        }

        #submit {
            padding: 10px;
            width: 10vw;
        }

        .personArea {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

        }

        .person {
            width: 25vw;
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            position: relative;
            margin: 5px;
            /* justify-content: center; */
            /* top: 30px; */
            /* top: 50%;
            left: 50%;
            transform: translate(-50%, 50%); */
        }

        .personDetails {
            padding: 10px;
            margin-right: 20px;
        }

        .personMenu {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0px;
            top: 0px;
        }

        .btn {
            margin: 15px;
            background-color: #43AFFC;
            text-decoration: none;
            border: none;
            border-radius: 2px;
            border: 2px solid black;
            box-shadow: none;
            font-weight: 500;
        }

        .name {
            font-weight: 600;
            font-size: 18px;
        }

        .email {
            font-size: 15px;

        }

        .phone {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="heading">
        <h1>PhoneBook</h1>
      
    </div>
    
    <form action="/create-user" method="POST">
        <div class="inputData">
            <label for="name">Name : </label>
            <input class="inputfield" name="name" type="text" placeholder="Enter New User" required>
            <label for="email">Email : </label>
            <input class="inputfield email" name="email" type="email" placeholder="User's Email" required>
            <label for="phone">Phone : </label>
            <input class="inputfield phone" name="phone" type="text" placeholder="User's Phone">
            <button class="btn" id="submit" style="background-color: rgb(207, 74, 74);">Add</button>
        </div>
    </form>

    <div class="personArea">

        <% users.forEach(user=> { %>

            <div class="person">
                <div class="personDetails">
                    <div class="name">
                        <%=user.userName %>
                    </div>

                    <div class="email">
                        <%=user.userEmail %>
                    </div>
                    <div class="phone">
                        <%=user.userPhone %>
                    </div>
                </div>

                <div class="personMenu">
                    <button class="btn edit" id="<%=user._id %>">Edit</button>
                    <button class="btn delete" id="<%=user._id %>">Delete</button>
                </div>
            </div>

            <% }) %>
    </div>
    <form action='/logout' method="POST">
        <button class="btn">Logout</button>                
    </form>

    
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="browser.js"></script>
</body>

</html>